<%= form_with model: @question, local: true do |form| %>

  <% if @question.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@question.errors.count, "error") %> data gagal disimpan
      </h2>
      <ul>
        <% @question.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
<div class="col-md-6 col-md-offset-3">
  <div class="form-grup">
    <%= form.label :no %><br>
    <%= form.text_field :no, :class => 'form-control' %>

  <p>
    <%= form.label :dominance %><br>
    <%= form.text_field :dominance, :class=>'form-control' %>
  </p>

  <p>
    <%= form.label :influence %><br>
    <%= form.text_field :influence, :class=>'form-control' %>
  </p>

  <p>
    <%= form.label :steadiness %><br>
    <%= form.text_field :steadiness, :class=>'form-control' %>
  </p>

  <p>
    <%= form.label :compliance %><br>
    <%= form.text_field :compliance, :class=>'form-control' %>
  </p>  

  <p>
    <%= form.submit "Create Question", :class=>"btn btn-success btn-block" %>
    <%= link_to 'Back', questions_path, :class=>'btn btn-danger btn-block '%>
  </p>
</div>
</div>
<% end %>

