
		<% if notice %>
	    <p class="alert alert-success"><%= notice %></p>
	  <% end %>
	  <% if alert %>
	    <p class="alert alert-danger"><%= alert %></p>
	  <% end %>
		<%= stylesheet_link_tag "style", media: "all", "data-turbolinks-track" => "reload" %>
	 	<p class="navbar-text pull-right">

		<div class="head">
			<div class="navbar-text pull-right">
			<% if user_signed_in? %>
			  <% if current_user.has_role? :admin %>
          <%= if !current_user.nil?
                current_user.email + ' (' + current_user.roles.pluck(:name).join(",") + ')'
          end%>
        <% else %>
          <%= if !current_user.nil?
                current_user.email + ' (user)'
          end%>     
        <% end %>
			  <%= link_to "Profil", current_user, :class => 'navbar-link' %>
				<%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %>
			<% else %>
			  <%= link_to "Sign up", new_user_registration_path, :class => 'navbar-link'  %> 
			  <%= link_to "Login", new_user_session_path, :class => 'navbar-link'  %>
			<% end %>
		</div>
			<div class="logo">
				<%= link_to image_tag("logo"), {controller: 'welcome'} %>
			</div>
		</div>

	<div class="wrapper">
		<div class="nav1">
				<%= link_to image_tag("nav5", width: 100), {controller: 'users'} %>
		</div>
		<div class="nav2">
				<%= link_to image_tag("nav6", width: 100), {controller: 'questions'} %>		
		</div>
		<div class="nav3">
			<%= link_to image_tag("nav7", width: 100), {controller: 'admin'} %>
		</div>
		<div class="nav4">
			<%= link_to image_tag("nav8", width: 100), {controller: 'complaints'} %>
		</div>
		<div class="orang">
			<%= image_tag "header", width:700 %>
		</div>
		<!--nav>
			<ul>
				<li><a href="#">Home</a></li>
				<li><a href="#">Login</a></li>
			</ul>
		</nav-->

	</div>

