  <div class="col-md-4 col-md-offset-4 form-new">
    <dic class="container">
    <div class="outter-form-signup">
         <div class="signup">
            <h3 class="text-center title-login">Edit <%= resource_name.to_s.humanize %></h3>
         </div>

         <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put, class: "inner-login" }) do |f| %>
          <%= devise_error_messages! %>
            <div class="form-group">
              <%= f.text_field :nim, autofocus: true, :class => 'form-control', placeholder: "NIM/No KTP/No Induk Pelajar" %>
            </div>
            <div class="form-group">
              <%= f.text_field :nama, autofocus: true, :class => 'form-control', placeholder: "Nama Lengkap" %>
            </div>
            <div class="form-group">
              <%= f.label :jenis_kelamin %><br>
              <%= f.radio_button :jenis_kelamin, 'Laki-laki' %>
              <%= label :jenis_kelamin_Laki_laki, 'Laki-laki' %>
              <%= f.radio_button :jenis_kelamin, 'Perempuan' %>
              <%= label :jenis_kelamin_perempuan, 'Perempuan' %>
           </div>

            <div class="form-group">
              <%= f.text_area :alamat, autofocus: true, :class => 'form-control', placeholder: "Alamat" %>
            </div>

            <div class="form-group">
              <%= f.text_field :tempat_lahir, autofocus: true, :class => 'form-control', placeholder: "Tempat Lahir" %>
            </div>

            <div class="form-group">
              <%= f.date_field :tgl_lahir, autofocus: true, :class => 'form-control', placeholder: "Tanggal Lahir" %>
            </div>

            <div class="form-group">
              <%= f.telephone_field :no_telepon, autofocus: true, :class => 'form-control', placeholder: "No Telepon" %>
            </div>  

            <div class="form-group">
              <%= f.label :profile_picture %><br>
              <%= f.file_field :profile_picture %>
              <% if f.object.profile_picture? %>
                <%= image_tag f.object.profile_picture.thumb.url %>
                <%= f.label :remove_profile_picture %>
                <%= f.check_box :remove_profile_picture %> 
              <% end %>
            </div>
            
            <div class="form-group">
              <%= f.email_field :email, autofocus: true, :class => 'form-control', placeholder: "Email"%>
            </div>

            <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
              <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
            <% end %>

            <div class="field">
              <i>(we need your current password to confirm your changes)</i><br />
              <%= f.password_field :current_password, autocomplete: "off", :class => 'form-control', placeholder: "current password"  %>
            
            <%= f.submit "Update", :class => 'btn btn-block btn-success' %>
          <% end %>

          <h3>Cancel my account</h3>

          <p class="unhappy">Unhappy?<%= button_to "   Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, :class => "col-md-offset-1 btn btn-danger btn-sm" %></p>

          <%= link_to "Back", :back %>
        </div>
     </dic>
  </div>


