<div class="header-page">
  <div class="nav-page">
    <div class="container-fluid">
      <div class="navbar-header">
        <%= link_to image_tag("logo",:class => 'navbar-logo'), {controller: 'welcome'} %>
      </div>
      <ul class="nav nav-pills">
        <li role="presentation"><%= link_to 'Pengguna', users_path %></li>
        <li role="presentation"><%= link_to 'Admin', controller: 'admin' %></li>
        <li role="presentation"><%= link_to 'Pertanyaan', questions_path %></li>
        <li role="presentation"><%= link_to 'Keluhan', complaints_path %></li>
      </ul>
      <ul class="nav nav-pills navbar-right">
        <div class="navbar-text pull-right">
   
       <% if user_signed_in? %>
        <% if current_user.has_role? :admin %>
          <%= if !current_user.nil?
                current_user.email + ' (' + current_user.roles.pluck(:name).join(",") + ')'
          end%>
        <% else %>
          <%= if !current_user.nil?
                current_user.email + ' (user)'
          end%>     
        <% end %>
        <%= link_to "Profil", current_user, :class => 'navbar-link' %> 
        <%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %>
      <% else %>
        <%= link_to "Sign up", new_user_registration_path, :class => 'navbar-link'  %> 
        <%= link_to "Login", new_user_session_path, :class => 'navbar-link'  %>
      <% end %>
      
      </ul>
    </div>
  </div>
</div>
<div class="body-page">
    <div class="container-fluid">
      <div class="table-responsive">
        <table class="table table-bordered table-striped">
          <thead>
          <br>
            <tr class="info">
              <th>ID</th>
              <th>Nama</th>
              <th>Jenis Kelamin</th>
              <th>Alamat</th>
              <th>Tempat Lahir</th>
              <th>Tangal Lahir</th>
              <th>No Telepon</th>
              <th>Email</th>
            </tr>
          </thead>
          <tbody>
            <% @users.each do |user| %>
              <tr>
                <td><%= user.nim%></td>
                <td><%= user.nama %></td>
                <td><%= user.jenis_kelamin %></td>
                <td><%= user.alamat %></td>
                <td><%= user.tempat_lahir %></td>
                <td><%= user.tgl_lahir %></td>
                <td><%= user.no_telepon %></td>
                <td><%= user.email %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
    <div>
      
    <div class = "btn btn-success excel" style="margin-bottom: 500px">
      <%= link_to "Export to Excel", controller: 'admin', format: "xls" %>
    </div>
</div>
</div>
<div class="footer">
    <div class="container">
        &copy; 2017. Designed by CYC Team.
    </div>
</div>