<?xml version="1.0"?>
<Workbook xmlns="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:o="urn:schemas-microsoft-com:office:office"
  xmlns:x="urn:schemas-microsoft-com:office:excel"
  xmlns:ss="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:html="http://www.w3.org/TR/REC-html40">
  <Worksheet ss:Name="Sheet1">
    <Table>
      <Row>
        <Cell><Data ss:Type="String"></Data></Cell>
        <Cell><Data ss:Type="String"></Data></Cell>
        <Cell><Data ss:Type="String"></Data></Cell>
        <Cell><Data ss:Type="String"></Data></Cell>
        <Cell><Data ss:Type="String">Data Admin</Data></Cell>
      </Row>
      <Row></Row>
      <Row>
        <Cell><Data ss:Type="String">ID</Data></Cell>
        <Cell><Data ss:Type="String">Nama</Data></Cell>
        <Cell><Data ss:Type="String">Jenis Kelamin</Data></Cell>
        <Cell><Data ss:Type="String">Alamat</Data></Cell>
        <Cell><Data ss:Type="String">Tempat Lahir</Data></Cell>
        <Cell><Data ss:Type="String">Tanggal Lahir</Data></Cell>
        <Cell><Data ss:Type="String">No Telepon</Data></Cell>
        <Cell><Data ss:Type="String">Email</Data></Cell>
        <Cell><Data ss:Type="String">Kepribadian</Data></Cell>
        <Cell><Data ss:Type="String">Keterangan</Data></Cell>
      </Row>
    <% @users.each do |user| %>
      <Row>
        <Cell><Data ss:Type="String"><%= user.nim %></Data></Cell>
        <Cell><Data ss:Type="String"><%= user.nama %></Data></Cell>
        <Cell><Data ss:Type="String"><%= user.jenis_kelamin %></Data></Cell>
        <Cell><Data ss:Type="String"><%= user.alamat %></Data></Cell>
        <Cell><Data ss:Type="String"><%= user.tempat_lahir %></Data></Cell>
        <Cell><Data ss:Type="String"><%= user.tgl_lahir %></Data></Cell>
        <Cell><Data ss:Type="Number"><%= user.no_telepon %></Data></Cell>
        <Cell><Data ss:Type="String"><%= user.email %></Data></Cell>
        <Cell><Data ss:Type="String"><%= user.kepribadian %></Data></Cell>
        <Cell><Data ss:Type="String"><%= user.keterangan %></Data></Cell>
      </Row>
    <% end %>
    </Table>
  </Worksheet>
</Workbook>

