<%= form_with model: @user, local: true do |form| %>

  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@user.errors.count, "error") %> data gagal disimpan
      </h2>
      <ul>
        <% @user.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
<div class="col-md-6 col-md-offset-3">
  <div class="form-grup">
  <div class="outter-form">
  <p>

    <strong>Diisi dengan NIM/No KTP/No Induk Pelajar</strong><br>

    <%= form.text_field :nim, :class => 'form-control' %>
  </p>

  <p>
    <%= form.label :nama %><br>
    <%= form.text_field :nama, :class => 'form-control' %>
  </p>

  <p>
    <%= form.radio_button :jenis_kelamin, 'Laki-laki' %>
    <%= label :jenis_kelamin_Laki_laki, 'Laki-laki' %>
    <%= form.radio_button :jenis_kelamin, 'Perempuan' %>
    <%= label :jenis_kelamin_perempuan, 'Perempuan' %>
  </p>

  <p>
    <%= form.label :alamat %><br>
    <%= form.text_area :alamat, :class => 'form-control' %>
  </p>

  <p>
    <%= form.label :tempat_lahir %><br>
    <%= form.text_field :tempat_lahir, :class => 'form-control' %>
  </p>

  <p>
    <%= form.label :tanggal_lahir %><br>
    <%= form.date_field :tgl_lahir, :class => 'form-control' %>
  </p>

  <p>
    <%= form.label :no_telepon %><br>
    <%= form.telephone_field :no_telepon, :class => 'form-control' %>
  </p>  

  <p>
    <%= form.label :email %><br>
    <%= form.email_field :email, :class => 'form-control' %>
  </p>

  <p>
    <%= form.label :profile_picture %><br>
    <%= form.file_field :profile_picture %>
    <% if form.object.profile_picture? %>
      <%= image_tag form.object.profile_picture.thumb.url %>
      <%= form.label :remove_profile_picture %>
      <%= form.check_box :remove_profile_picture %> 
    <% end %>
  </p>

  <p>
    <%= form.submit "Update User", :class=> "btn btn-success btn-block" %>
    <%= link_to 'Back', users_path, :class=>"btn btn-danger btn-block" %>
  </p>

<% end %>
</div>
</div>
</div>
