
		<% if notice %>
	    <p class="alert alert-success"><%= notice %></p>
	  <% end %>
	  <% if alert %>
	    <p class="alert alert-danger"><%= alert %></p>
	  <% end %>
		<%= stylesheet_link_tag "style", media: "all", "data-turbolinks-track" => "reload" %>
	 	<p class="navbar-text pull-right">

		<div class="head">
			<div class="navbar-text pull-right">
			<% if user_signed_in? %>
			 <% if current_user.has_role? :admin %>
          <%= if !current_user.nil?
                current_user.email + ' (' + current_user.roles.pluck(:name).join(",") + ')'
          end%>
        <% else %>
          <%= if !current_user.nil?
                current_user.email + ' (user)'
          end%>     
        <% end %>
			  <%= link_to "Profil", current_user, :class => 'navbar-link' %>
				<%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %>
			<% else %>
			  <%= link_to "Sign up", new_user_registration_path, :class => 'navbar-link'  %> 
			  <%= link_to "Login", new_user_session_path, :class => 'navbar-link'  %>
			<% end %>
		</div>
			<div class="logo">
				<%= image_tag "logo" %>
			</div>
		</div>

	<div class="wrapper">
	<div class="nav1 col-md-1 col-md-offset-4">
			<%= link_to image_tag("nav1", width: 100), {controller: 'answers'} %>
		</div>
		<div class="nav2 col-md-1">
			<%= link_to image_tag("nav2", width: 100), {controller: 'articles'} %>
		</div>
		<div class="nav3 col-md-1">
			<%= link_to image_tag("nav3", width: 100), {controller: 'contacts'} %>
		</div>
		<div class="nav4 col-md-1">
			<%= link_to image_tag("nav4", width: 100), {controller: 'abouts'} %>
		</div>
		<div class="orang">
			<%= image_tag "header", width:300 %>
		</div>
		<!--nav>
			<ul>
				<li><a href="#">Home</a></li>
				<li><a href="#">Login</a></li>
			</ul>
		</nav-->

	</div>

