<%= form_for @answer, url: {controller: "answers", action: "create"} do |f| %>
  <% if @answer.errors.any? %>
    <div id="error_explanation">
      <h4>
        Tidak boleh ada jawaban yang kosong
      </h4>
    </div>
  <% end %>
  <% @count = 1 %>
             <% @answers.each do |answer| %>
    <div class="container-fluid">
      <div class="table-responsive">
        <table class="table table-bordered table-striped">

          <tbody>
          
            <tr>
              <td><%= answer.no %>. </td>
              <td class="col-md-3"><%= f.radio_button :"jawaban_#{@count}", 'Dominance' %>
              <%= answer.dominance %></td>
              <td class="col-md-3"><%= f.radio_button :"jawaban_#{@count}", 'Influence' %>
              <%= answer.influence %></td>
              <td class="col-md-3"><%= f.radio_button :"jawaban_#{@count}", 'Steadiness' %>  
              <%= answer.steadiness %></td>
              <td class="col-md-3"><%= f.radio_button :"jawaban_#{@count}", 'Compliance' %>
              <%= answer.compliance %></td>
              
              </tr>
          </tbody>
        </table>
    </div>
  </div>
    <% @count += 1 %>
  <% end %>
  <%= f.hidden_field :user_id, :value => current_user.id %>
  <%= f.submit :class=>'btn btn-success newanswer'%>
<% end %>
